@using SimpleToDo.WebApp.Controllers
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ToDoTask>

<div class="pad-bottom">
    <a asp-action="Create" class="btn btn-success">
        <span class="fa fa-calendar-plus"></span>&nbsp;Nowe zadanie
    </a>
    <a asp-action="Search" class="btn btn-light">
        <span class="fa fa-search"></span>&nbsp;Wyszukiwanie
    </a>
</div>

<table class="table">
    <thead class="thead-default">
        <tr>
            <th class="text-center">Tytuł</th>
            <th class="text-center">Status</th>
            <th class="text-center">Przewidywana data zakończenia</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDoTask task in Model)
        {
            <!--<tr class="task.GetClassByPriority()">-->
            <tr>
                <td class="text-center">@task.Title</td>
                <td class="text-center">
                    <input @(task.Finished ? "checked" : "") type="checkbox" data-toggle="toggle" data-on="Ukończone" data-off="Nieukończone" data-onstyle="success" />
                </td>
                <td class="text-center">@task.DueDate</td>
                <td class="text-center">
                    <a href="@Url.Action(nameof(TasksController.Details), "Tasks", new { id = task.Id })" class="btn btn-light">
                        <span class="fa fa-info"></span>&nbsp;Szczegóły
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.PagedListPager(Model, page => Url.Action(nameof(TasksController.Index), new { page }), new PagedListRenderOptionsBase
{
    ContainerDivClasses = new[] { "navigation" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
})